@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700;900&family=Roboto:ital,wght@0,600;1,600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 24px;
}

.purple {
    color: #6415ff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    padding: 8px;
}

/* LANDING */

.nav__container {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo--img {
    height: 90px;
    width: 90px;
    padding: 24px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    padding: 24px;
    font-weight: 700;
    text-decoration: none;
    justify-content: space-between;
}

.nav__link--login {
    font-weight: 700;
    text-decoration: none;
    padding: 0 24px;
}

.nav__link--primary {
    padding-right: 24px;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid;
    border-radius: 96px;
    padding: 10px 36px;
    background-color: #6415ff;
    color: white;
}

/* HEADER */



.header__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.header__description {
    width: calc(100% - 60%); 
    display: flex;
    flex-direction: column; 
}

.header__title {
    padding-bottom: 32px;
    font-size: 38px;
}

.header__para {
    padding-bottom: 28px;
    line-height: 1.5;
}

.header__email {
    width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--input {
    width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}

.header__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
}

.header__cust {
    font-size: 12px;
    padding-top: 64px;
    padding-bottom: 16px;
    color: #a0aec0;
}

.header__cust--img {
    width: 100%;
    opacity: 0.5;
}

.header__img--wrapper {
    width: calc(100% - 40%);
    padding-left: 150px;
    padding-top: 50px;
}

.header__img {
    width: 100%;
    max-width: 768px;
}

/* FEATURES */

.feat__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feat__tag {
    color: #6415ff;
    letter-spacing: 2px;
}

.feat__title {
    font-size: 48px;
    font-weight: 900;
    padding: 24px;
    letter-spacing: 2px;
}

.feat__para {
    text-align: center;
    max-width: 576px;
    line-height: 1.5;
    font-size: 20px;
    color: rgb(124, 139, 161);
}

.feat__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.feat__feature {
    display: flex;
    width: calc(100% / 3);
}

.feature__row {
   display: flex;
   align-items: flex-start;
   padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    border: 2px solid #e5e7eb;
    padding: 20px;
    border-radius: 50%;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__title {
    padding-bottom: 20px;
}

.feature__para {
    line-height: 2;
    color: rgb(124, 139, 161);
}

/* QUALITY WORK */

.quality__row {
    width: 100%;
    max-width: 1200px;
    display: flex;
}

.quality__description {
    width: 50%;
    padding-right: 100px;
}

.quality__tag {
    letter-spacing: 2px;
    color: #6415ff;
}

.quality__title {
    font-size: 48px;
    font-weight: 900;
    padding: 24px 0;
    letter-spacing: 2px;
}

.quality__para {
    line-height: 1.75;
    font-size: 18px;
    color: rgb(124, 139, 161);
    padding-bottom: 28px;
}

.quality__btn {
    background-color: #6415ff;
    color: white;
    padding: 12px 28px;
    border-radius: 96px;
    font-weight: 700;
    font-size: 14px;
    border: none;
}

.quality__img--wrapper {
    width: 50%;
    padding-top: 60px;
    position: relative;
}

.quality__img {
    height: 306px;
    width: 535px;
    z-index: 0;
    border: 1px solid rgb(220, 222, 226);
}

.quality__grid {
    width: 85px;
    height: 85px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    z-index: -10;   
}

/* STEPS */

.steps__row {
    width: 100%;
    max-width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__img--wrapper {
    width: 45%;
    position: relative;
}

.steps__img {
    width: 100%;
}


.steps__grid {
    width: 85px;
    height: 85px;
    left: 215px;
    top: 245px;
    position: absolute;
    fill: rgb(100, 21, 255);
    z-index: -10;
    opacity: 0.1;
}

.steps__discription {
    padding-left: 52px;
}

.steps__tag {
    letter-spacing: 2px;
    color:rgb(100, 21, 255);
}

.steps__title {
    font-size: 60px;
    font-weight: 900;
    padding: 16px 0 24px 0;
}

.step {
    display: flex;
}
.step__num {
    font-size: 36px;
    font-weight: 700;
    opacity: 0.3;
}

.step__num--one {
    font-size: 36px;
    font-weight: 700;
    color: #cbd5e0;
    padding-right: 10px;
}

.step__discription {
    padding: 0 0 24px 16px;
    
}

.step__title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 16px;
}

.step__para {
    max-width: 360px;
    line-height: 1.5;
    color: #718096;
    font-size: 16px
}


/* VALUES */

.values__row {
    width: 100%;
    max-width: 1200px;
    display: flex;
}

.values__discription {
    width: 50%;

}

.values__tag {
    letter-spacing: 2px;
    color:rgb(100, 21, 255);
    padding-bottom: 16px;
}

.values__title {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 2px;
    
}

.values__para {
    line-height: 1.5;
    color: #718096;
    font-size: 18px;
    padding: 32px 0;
}

.value__one {
    display: flex;
    flex-direction: column;
    padding-right: 36px; 
}

.values__list {
    display: flex;
    max-width: 550px;
}


.value__wrapper {
    display: flex;
    align-items: center;
}

.value__para {
    line-height: 1.5;
    color: #718096;
    padding-top: 20px;
    padding-bottom: 50px;
}

.value__two {
    right:0
}

.value__list--img {
    border: 2px solid;
    padding: 6px;
    border-radius: 50%;
    border: none;
}

.value__list--img-1 {
    border: 2px solid;
    padding: 6px;
    border-radius: 50%;
    border: none;
    background-color: #9ae6b4;
    margin-right: 16px;
}

.value__title {
    font-size: 20px;
}

.value__list--img-2 {
    border: 2px solid;
    padding: 6px;
    border-radius: 50%;
    border: none;
    background-color: #feb2b2;
    margin-right: 16px;
}

.values__btn {
    background-color: #6415ff;
    color: white;
    padding: 12px 28px;
    border-radius: 96px;
    font-weight: 700;
    font-size: 14px;
    border: none;
}

.value__img {
    width: 100%;
    height: 600px;
    padding-left: 48px;
}

/* PRICING */

.pricing__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__tag {
    text-align: center;
    letter-spacing: 2px;
    color:rgb(100, 21, 255);
}

.pricing__title {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    padding: 24px;
    letter-spacing: 2px;
}

.pricing__para {
    text-align: center;
    max-width: 576px;
    line-height: 1.5;
    font-size: 20px;
    color: rgb(124, 139, 161);
    padding-bottom: 48px;
}

.pricing__plans--wrapper {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    position: relative;
}

.plan__stripe--p {
    width: 100%; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 4px solid rgb(56, 178, 172);
}

.plan__stripe--e {
    width: 100%; 
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border: 4px solid rgb(245, 101, 101);
}

.plan__top {
    border: 1px solid #e5e7eb;
    background-color: rgb(255 255 255);
}

.plan__top--b {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgb(229, 231, 235);
    background: rgb(76, 81, 191);
    border-bottom: 1px solid rgb(102, 126, 234);
}

.plan__perks--wrapper {
    border: 1px solid #e5e7eb;
    list-style: none;
    padding: 24px;
    background-color: rgb(255 255 255);
}

.plan__perks--wrapper--b {
    border: 1px solid rgb(102, 126, 234);
    list-style: none;
    padding: 24px;
    background:rgb(76, 81, 191);
    color: #f7fafc;
}

.plan__title {
    padding-top: 36px;
    font-size: 20px
}

.plan__title--b {
    padding-top: 40px;
    font-size: 20px;
    color: #f7fafc;
}

.plan__price {
    padding: 24px 100px;
    font-size: 48px;
}

.plan__price--b {
    padding: 24px 100px;
    font-size: 48px;
    color: #f7fafc;
}

.plan__monthly,
.plan__monthly--e {
    padding-bottom: 36px;
    color:  #a0aec0;
    letter-spacing: 2px;
}


.plan__monthly--b {
    padding-bottom: 40px;
    color: #f7fafc;
    letter-spacing: 2px;
}

.plan__for {
    letter-spacing: 1.3px;
    font-weight: 900;
}

.plan__for--b {
    letter-spacing: 1.3px;
    font-weight: 900;
    color: #f7fafc;
}

.plan__perk,
.plan__perk--b {
    padding: 12px;
}

.plan__perk--b {
    padding: 12px;
    color: #f7fafc;
}

.plan__btn {
    border: 1px solid #e5e7eb;
    padding: 24px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(255 255 255);
}

.plan__btn--wrapper {
    border: 1px solid  rgb(102, 126, 234);
    padding: 24px;
    padding: 24px;
    background:rgb(76, 81, 191);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.plan__btn--p {
    border: none;
    padding: 20px 76px;
    border-radius: 56px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.6px;
    color: #f7fafc;
    background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__btn--b {
    border: none;
    padding: 20px 76px;
    border-radius: 56px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.6px;
    color: #6415ff;
    background-color: #f7fafc;
}

.plan__btn--e {
    border: none;
    padding: 20px 76px;
    border-radius: 56px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.6px;
    color: #f7fafc;
    background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__blob {
    position: absolute;
    z-index: -10;
    left: 0;
    height: 256px;
    width: 256px;
    transform: translateX(-125%) translateY(-125%) scaleX(1) scaleY(1);
    opacity: 0.25;
}

/* TESTIMONIALS */

.test__row {
    width: 100%;
    max-width: 1200px;
    display: flex;
}

.test__img {
    width: 40%;
    width: 600px;
    height: 600px;
    justify-content: center;
    padding-right: 64px;
}

.test__discription {
    width: 60%;
}

.test__tag {
    letter-spacing: 2px;
    color:rgb(100, 21, 255);
}

.test__title {
    font-size: 48px;
    font-weight: 900;
    padding: 16px 0 24px 0;
}

.test__para {
    width: 100%;
    max-width: 600px;
    line-height: 1.5;
    color: #718096;
    font-size: 18px;
    padding-bottom: 48px;
}

.test__review--title {
    padding: 24px 0;
}

.test__review--para {
    line-height: 1.5;
    padding-bottom: 32px;
}

.test__rep {
    display: flex;
    justify-content: space-between;
}

.test__rep--wrapper {
    display: flex;
}

.test__rep--img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.test__rep--titles {
    align-items: center;
    padding: 24px;
    line-height: 1.5;
}

.test__rep--name {
    letter-spacing: 1px;
    font-weight: 700;
}
.test__rep--title {
    font-weight: 500;
    color: rgb(124, 139, 161);
}


.test__rep--arrows {
    display: flex;
    width: 125px;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 24px ;
}

.fa-arrow-left,
.fa-arrow-right {
    display: flex;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    border: none;
    background-color: rgb(229, 231, 235);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* BAR */

.bar__container {
    z-index: 5;
}

.bar__row {
    box-sizing: content-box;
    border: 2px solid;
    display: flex;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(100, 21, 255);
    position: relative;
    overflow: hidden;
    border: none;
}

.bar__blob--1 {
    position: absolute;
    height: 350px;
    transform: translateY(30%) translateX(-30%);
    z-index: 0;
}

.bar__blob--2 {
    position: absolute;
    height: 300px;
    transform: translateY(-75%) translateX(300%);
    z-index: 0;
}

.start__row {
    width: 100%;
    max-width: 1024;
    margin: 0 auto;
    display: flex;
    padding: 0 32px;
    justify-content: center;
    align-items: center;
}

.bar__sent {  
    color: #f7fafc;
    max-width: 600px;
    line-height: 1.5;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    z-index: 5;
    padding-left: 40px;
}

.bar__btns {
    width: 40%;
    justify-content: space-between;

}

.bar__btn-gs {
    padding: 24px 48px;
    border-radius: 36px;
    background: #f56565;
    border: none;
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
    margin-right: 32px;
}

.bar__btn-cu {
    padding: 22px 46px;
    border-radius: 36px;
    background-color: rgb(100, 21, 255);
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid rgb(160, 174, 192);
    padding-right: 36px;
}

/* FOOTER */

.footer__container {
    width: 100%;
    max-width: 1200px;
    margin-bottom: -32px;
    height: 500px;
}

.footer__row {
    width: 100%;
    max-width: 1200px;
    height: 500px;
    background-color: rgb(100, 21, 255);
    position: relative;
    overflow: hidden;
    z-index: 5;
}

.footer__blob--1 {
    position: absolute;
    height: 350px;
    transform: translateY(-40%) translateX(-45%);
    z-index: -10;
}

.footer__blob--2 {
    position: absolute;
    height: 300px;
    transform: translateY(140%) translateX(325%);
    z-index: -10;
}

.footer__list {
    width: 100%;
    max-width: 1200px;
    height: 300px;
    display: flex;
    border: 2px solid;
    justify-content: space-around;
    border: none;
}

.footer__tag {
    color: #f7fafc;
    padding: 80px 24px 12px 0;
    justify-content: space-between;
}

.footer__links {
    display: flex;
    flex-direction: column;
}

.footer__link {
    color: #f7fafc;
    flex-direction: column;
    padding: 6px 0;
    font-size: 14px;
}

.footer__wrapper {
    width:  100%;
    max-width: 1200px;
    display: flex;
}

.footer__divider {
  width: 100%;
  max-width: 1100px;
  justify-content: center;
  align-items: center;
  height: 2px;
  background: rgb(116, 44, 255);
  margin: 0 auto;
}

.footer__wrapper {   
    width:100%;
    max-width: 1200px;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer__logo--img {
    display: flex;
    margin-left: 36px;
    margin-bottom: 36px;
    align-items: flex-end;
}

.footer__img {
    height: 35px;
    width: 35px;
}

.footer__logo--title {
    padding-left: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: 900;
    color: #f7fafc;
}

.footer__copyright {
    color: #f7fafc;
    margin-bottom: 42px;
    align-items: flex-end;
}

.footer__social-list {
    display: flex;
    margin-bottom: 36px;
    margin-right: 36px;

}

.footer__social-link {
    display: flex;
    border: 2px solid #f7fafc;
    padding: 12px;
    border-radius: 50%;
    background-color: #f7fafc;
    text-decoration-style: none;
}

